*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    min-height: 100vh;
    background-color: #040D12;
    color: whitesmoke;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head1{
    font-family: "Bevan", serif;
    background-color: #183D3D;
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
    text-shadow: 2px 3px 1px #040D12;
}

.clock_body{
    font-family: "BioRhyme", serif;
    background-color:transparent;
    
    padding:4rem;
    margin:5rem auto;
    /* border-radius:10%; */
    border-radius: 4rem 4rem 0 0;
    max-width: 365px;
    min-width: 360px;
    border: 6px double #93B1A6;
}

#clock{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    /* max-width: 300px; */
    /* background-color:#5C8374 ; */
    color: white;
    border-radius:3rem;
    /* border: 5px solid #040D12; */
}
.nowrap{
    white-space: nowrap;
}
.sec2{
    margin: 0.5rem;
    font-family: "BioRhyme", serif;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    background-color:#183D3D;
    margin-bottom: 6rem;
    
    
    
}

button{
    background-color:#183D3D;
    border: 0;
}

button:hover{
    cursor: pointer;
}

button i {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    
}





.sec2 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    
}

.sec1{
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.sec_btn{
    text-align: center;
    font-family: "BioRhyme", serif;

    color: whitesmoke;
    padding: 1.5rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    border-radius: 2rem;
    border:0;
}

footer{
    background-color: #0d2222;
    position: sticky;
    bottom: 0;
    text-align: center;
        font-family: "Bevan", serif;
        letter-spacing: 0.2rem;

        padding: 1rem;


}

footer a{
    color: whitesmoke;
}