*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     min-height: 100vh;
    background-color: #040D12;
    color: whitesmoke;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head1{
    font-family: "Bevan", serif;
    background-color: #183D3D;
    text-align: center;
    padding: 0.5rem;
    font-size: 2.5rem;
    text-shadow: 2px 3px 1px #040D12;
}

.stp_clock_body{
    font-family: "BioRhyme", serif;
    background-color:transparent;
    text-align: center;
    padding:4rem;
    margin:0.5rem auto;
    /* border-radius:10%; */
    border-radius: 4rem;
    max-width: 365px;
    min-width: 360px;
    border: 6px solid #93B1A6;
}

#stp_clock{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    /* max-width: 300px; */
    /* background-color:#5C8374 ; */
    color: white;
    border-radius:3rem;
    /* border: 5px solid #040D12; */
}

.nowrap{
    white-space: nowrap;
}


.head2{
    font-size: 1.5rem;
    margin-top: 0.2rem;
    text-align: center;
    border: 6px solid #93B1A6;
    width: max-content;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "BioRhyme", serif;
    margin: 4rem auto;
}
.sec2{
    display: flex;
    flex-direction: row;
}


.sec3{
    margin: 2rem 0.5rem;
    font-family: "BioRhyme", serif;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    background-color:#183D3D;
    
    
    
}

.sec3 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    
    
}

button{
    background-color:#183D3D;
    border: 0;
}

button:hover{
    cursor: pointer;
}

button i {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    
}



#play_btn{
    color:  whitesmoke;
    padding: 1rem;
    font-size: 2rem;
    width: 50%;
    margin:0 1rem;
    background-color: #183D3D;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;

}

#stop_btn{
    color:  whitesmoke;
    padding: 1rem;
    font-size: 2rem;
    width: 50%;
        margin:0 1rem;

    background-color: #183D3D;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;


    
}
#pause_btn{
    
    color:  whitesmoke;
    padding:1rem;
    font-size: 2rem;
    width: 50%;
        margin:0 1rem;

    background-color: #183D3D;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
 
}